body {
  font: 1rem/1.4 -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans,
    Droid Sans, Helvetica Neue, sans-serif;
}

canvas {
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  touch-action: none;
}

button {
  border: rgb(80, 168, 252) 2px solid;
  border-radius: 2px;
  box-sizing: border-box;
  background: none;
  height: 72px;
  min-width: 220px;
  display: inline-block;
  position: relative;
  cursor: pointer;
  font-size: 18px;
  color: rgb(80, 168, 252);
  background-color: rgba(255, 255, 255, 0.7);
  transition: background-color 0.4s;
}
button:hover {
  background-color: rgba(240, 246, 255, 0.9);
}
